/* Introduction.css */

.intro-container {
    width: 100% !important; /* Ensure container takes full width */
    padding-top: 100px; /* Adjust this value based on the height of your Navbar */
}

.img-fluid {
    max-width: 100% !important;
    height: auto !important;
}

.intro-para h1 {
    font-size: 3rem !important; /* Increase font size for heading */
    color: #323232 !important; /* Set text color to gold */
}

.intro-para p {
    font-size: 1.5rem !important; /* Increase font size for paragraph */
    color: gold !important; /* Set text color to gold */
}
.intro-para-dark h1 {
    font-size: 3rem !important; /* Increase font size for heading */
    color: beige !important; /* Set text color to gold */
}

.intro-para-dark p {
    font-size: 1.5rem !important; /* Increase font size for paragraph */
    color: gold !important; /* Set text color to gold */
}

.social-media-icons {
    display: flex !important;
    justify-content: center !important;
    gap: 70px !important; /* Space between icons */
    margin-top: 20px !important;
}

.social-media-icons a {
    color: #323232 !important; /* Adjust icon color as needed */
    text-decoration: none !important; /* Remove underline from links */
    transition: 0.3s ease;
}

.social-media-icons svg {
    font-size: 40px !important; /* Ensure icons are the right size */
}
.social-media-icons a:hover{
    color: gold !important;
}
.social-media-icons-dark {
    display: flex !important;
    justify-content: center !important;
    gap: 70px !important; /* Space between icons */
    margin-top: 20px !important;
}

.social-media-icons-dark a {
    color: beige !important; /* Adjust icon color as needed */
    text-decoration: none !important; /* Remove underline from links */
    transition: 0.3s ease;
}

.social-media-icons-dark svg {
    font-size: 40px !important; /* Ensure icons are the right size */
}
.social-media-icons-dark a:hover{
    color: gold !important;
}

@media only screen and (max-width: 390px) {
    .social-media-icons {
        gap: 30px !important;
    }
    .social-media-icons-dark {
        gap: 30px !important;
    }
}

.my-custom-img {
    width: 250px;   /* Set fixed width */
    height: 250px;  /* Set fixed height */
    object-fit: cover !important; /* Ensures the image covers the area without distortion */
    border-radius: 50% !important; /* Makes the image circular */
}